<!DOCTYPE html>
<link href="/css/start.css" rel="stylesheet">
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form  action="/view/v1/signup" method="post" th:object="${userJoinRequest}" >
            <h3>회원가입</h3>
            <div class="merge">
                <input type="text" class="form-control"  placeholder="이메일을 입력해 주세요" name="memail" id="memail" th:field="*{email}" >
                <button style="margin-left: 10px" type="button"  id="write">인증번호 전송</button>
            </div>
            <div class="merge">
                <input type="text" class="form-control" placeholder="인증번호를 입력해주세요" id="memailconfirm">
                <button style="margin-left: 10px" type="button"  id="check">인증번호 확인</button>
            </div>
            <input type="text" placeholder="Id" th:field="*{userName}" />
            <input type="password" placeholder="Password" th:field="*{password}"/>
            <input type="password" placeholder="PasswordCheck" th:field="*{passwordConfirm}" />
            <input type="text" placeholder="NickName"th:field="*{nickName}" />
            <input type="text" id="sample4_postcode" placeholder="우편번호">
            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
            <input type="text" id="sample4_roadAddress" placeholder="도로명주소" th:field="*{address}">
            <button type="submit" id="last" style="display: none">회원가입</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form form action="/view/v1/signin" method="post" th:object="${userLoginRequest}">
            <h1>로그인</h1>
            <div class="social-container">
                <a href="#" th:href="@{/oauth2/authorization/facebook}" class="social">페이스북<i class="fab fa-facebook-f"></i></a>
                <a href="#" th:href="@{/oauth2/authorization/google}" class="social">구글<i class="fab fa-google-plus-g"></i></a>
                <a href="#" th:href="@{/oauth2/authorization/naver}" class="social">네이버<i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
            <input type="text" placeholder="Id" th:field="*{userName}" />
            <input type="password" placeholder="Password"th:field="*{password}" />

            <span><a href="javascript:openPop()">아이디 찾기</a> / <a href="javascript:openPopPass()">비밀번호 찾기</a> </span>
            <button type="submit">로그인</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>오늘부터 <br>운동 메이트!</h1>
                <p>동네 근처 이웃들과 함께 즐기는 스포츠!<br>로그인 하고 같이 운동 메이트를 만들어요.</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>오늘부터 <br>운동 메이트!</h1>
                <p>동네 근처 이웃들과 함께 즐기는 스포츠!<br>회원 가입 하고 같이 운동 메이트를 만들어요.</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<!--아이디 찾기 팝업 창-->
<div class="popup_layer" id="findId_layer" style="display: none;">
    <div class="popup_box">
        <div class="popup_cont">
            <h3> 아이디 찾기</h3>
            <form>
                <label>회원가입시 등록한 이메일을 입력해주세요.</label>
                <input type="text" placeholder="email" id="nickNameForFindId" />
                <button style="margin-left: 10px" type="button" id="findId">아이디 찾기</button>
            </form>
        </div>
        <!--팝업 버튼 영역-->
        <div class="popup_btn" style="float: bottom; margin-top: 200px;">
            <a href="javascript:closePop();">닫기</a>
        </div>
    </div>
</div>
<!--비밀번호 찾기 팝업 창-->
<div class="popup_layer" id="findPassword_layer" style="display: none;">
    <div class="popup_box">
        <div class="popup_cont">
            <h3> 비밀번호 찾기</h3>
            <h5>비밀번호를 재설정 합니다.</h5>
            <form>

                <label>비밀번호를 찾고싶은 Id를 입력해 주세요</label>
                <input type="text" placeholder="Id" id="idForFindPass" />
                <button style="margin-left: 10px" type="button" id="checkIdForFindPass" >인증코드 전송</button>
                <div id="findPass" style="display: none">
                    <input type="text" class="form-control" placeholder="인증코드" id="codeForPass">
                    <button style="margin-left: 10px" type="button" id="btnForFindPass"  >인증번호 확인</button>
                </div>
                <div id="findPass2" style="display: none">
                    <input type="text" class="form-control" placeholder="새 비밀번호" id="newPass">
                    <button style="margin-left: 10px" type="button" id="resetPass"  >비밀번호 재설정</button>
                </div>

            </form>
        </div>
        <!--팝업 버튼 영역-->
        <div class="popup_btn" style="float: bottom; margin-top: 50px;">
            <a href="javascript:closePopPass();">닫기</a>
        </div>
    </div>
</div>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });

    document.getElementById('write').addEventListener('click',checkEmail);
    document.getElementById('check').addEventListener('click',checkCode);
    document.getElementById('findId').addEventListener('click',findId);
    document.getElementById('checkIdForFindPass').addEventListener('click',findPass);
    document.getElementById('btnForFindPass').addEventListener('click',checkCodeForPass);
    document.getElementById('resetPass').addEventListener('click',resetPass);

    async function resetPass(){
        let userName = localStorage.getItem("userName")
        let password = document.getElementById("newPass").value
        let response = await fetch(`/api/v1/resetPass/?userName=${userName}&password=${password}`,{
            method : "POST",
            headers : {
                "Content-Type": "application/json",
            }

        })
        let data = await response
        console.log(data)
        if(response.ok){
            alert("비밀번호가 초기화되었습니다.")

        }else
            alert("알수없는 오류 발생")
    }


    async function findPass(){
        let params = document.getElementById("idForFindPass").value;
        localStorage.setItem("userName",params)
        let response = await fetch(`/api/v1/findPass/?userName=${params}`,{
            method : "GET",
            headers: {
                "Content-Type": "application/json",
            }
        })
        let data = await response.json()
        console.log(data)


        if(response.ok){
            alert(`등록하신 ${data.result.email}로 인증코드를 전송했습니다. 확인해주세요.`)
            const btn = document.getElementById("findPass")
            btn.style.display='block'
        }else
            alert("아이디를 다시 확인해 주세요")
    }

    async function findId(){
        let params = document.getElementById("nickNameForFindId").value;
        let response = await fetch(`/api/v1/findId/?email=${params}`,{
            method : "GET",
            headers: {
                "Content-Type": "application/json",
            }

        })
        let data = await response.json()
        console.log(data)


        if(response.ok){
            alert(`아이디는 : ${data.result.userName} 입니다.`)

        }else
            alert("아이디를 다시 확인해 주세요")
    }


    async function checkEmail(){
        let params = document.getElementById("memail").value;
        let response = await fetch(`/login/mailConfirm/?email=${params}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            }
        })
        let data = await response.json()
        console.log(data)
        console.log(data.result.code)

        if(response.ok){
            alert("메세지가 전송되었습니다 email을 확인하세요")
        }else
        {
            alert("오류가 발생하여 메세지가 전송되지 못하였습니다.")
        }

    }
    async function checkCode(){
        let params = document.getElementById("memailconfirm").value;
        let response = await fetch(`/login/verifyCode/?code=${params}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            }
        })
        let data = await response.json()
        console.log(data)

        if(data==1){
            alert("확인되었습니다.")
            const btn = document.getElementById("last")
            btn.style.display='block'
        }else
        {
            alert("인증번호가 일치하지 않습니다.")
        }

    }
    async function checkCodeForPass() {
        let params = document.getElementById("codeForPass").value;
        let response = await fetch(`/login/verifyCode/?code=${params}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
        })
        let data = await response.json()
        console.log(data)

        if (data == 1) {
            alert("확인되었습니다.")
            const btn = document.getElementById("findPass2")
            btn.style.display = 'block'

        } else {
            alert("인증번호가 일치하지 않습니다.")
        }

    }
    function openPop() {
        document.getElementById("findId_layer").style.display = "block";

    }

    //팝업 닫기
    function closePop() {
        document.getElementById("findId_layer").style.display = "none";
    }
    function openPopPass() {
        document.getElementById("findPassword_layer").style.display = "block";

    }

    //팝업 닫기
    function closePopPass() {
        document.getElementById("findPassword_layer").style.display = "none";
    }

    // 주소검색 api 함수
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
</html>

