<!DOCTYPE html>
<link href="/css/start.css" rel="stylesheet">
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form  action="/view/v1/signup" method="post" th:object="${userJoinRequest}" >
            <h1>계정만들기</h1>
<!--            <div class="social-container">-->
<!--                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>-->
<!--                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>-->
<!--            </div>-->
            <span>or use your email for registration</span>
            <input type="text" placeholder="Id" th:field="*{userId}" />
            <input type="password" placeholder="Password" th:field="*{password}"/>
            <input type="password" placeholder="PasswordCheck" th:field="*{passwordConfirm}" />
            <input type="text" placeholder="Name"th:field="*{userName}" />
            <input type="text" placeholder="Address" th:field="*{address}"/>
            <button type="submit">회원가입</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form form action="/view/v1/signin" method="post" th:object="${userLoginRequest}">
            <h1>로그인</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
            <input type="text" placeholder="Email" th:field="*{userId}" />
            <input type="password" placeholder="Password"th:field="*{password}" />
            <a href="#">Forgot your password?</a>
            <button type="submit">로그인</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>오늘부터 <br>운동 메이트!</h1>
                <p>동네 근처 이웃들과 함께 즐기는 스포츠!<br>로그인 하고 같이 운동 메이트를 만들어요.</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>오늘부터 <br>운동 메이트!</h1>
                <p>동네 근처 이웃들과 함께 즐기는 스포츠!<br>회원 가입 하고 같이 운동 메이트를 만들어요.</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>
</html>

