<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment::head"></head>
<header th:replace="fragments/fragment::nav"></header>
<body>
<div class="container">
    <div class="input-form-background row">
        <div class="input-form mx-auto" style="margin: auto"><br><br>
            <h4 class="mb-3" style="display: inline-block;">[(${review.fromUserName})]님이 따듯한 후기를 보냈어요🔥</h4><br><br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="|From. ${review.fromUserName}|"></h5>
                    <p class="card-text" style="font-family: 'Jua', sans-serif; color: orange" th:text="${review.reviewContext}"></p>
                    <!--<div th:each="review : ${review.reviews}" class="form-check">
                        <input type="checkbox" th:value="${review.key}" class="form-check-input" disabled checked style="opacity: 1">
                        <label th:text="${review.value}" class="form-check-label" style="color: black;opacity: 1"></label>
                    </div>-->
                </div>
                <br>
                <a th:href="@{/view/v1/crews/{userName}/reviewList(userName=${userName})}" class="btn btn-light" aria-describedby="submitHelp" style="position: absolute;
  top: 100%; right: 0;">이전으로</a>
            </div><br>
        </div>
    </div>
</div>
<script async th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>

</body>
<footer th:replace="fragments/fragment::footer"></footer>

</html>

