<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment::head"></head>
<body>
<header th:replace="fragments/fragment::nav"></header>
<main class="container mt-4">
    <div class="container"><br>
<!--        <div class="row py-5">-->
        <h2>전체후기💌</h2>
            <div>  총 건수 : <small th:text="${reviewAllCount}">3</small></div>
        <div class="col-9" style="margin: auto;">
                <div class="card" th:if="${reviewList.getTotalElements() == 0}">
                    <div class="card-header">
                        받은 후기가 없습니다.
                    </div>
                </div>
                <div class="card" th:if="${reviewList.getTotalElements() > 0}">
                    <div class="card-header">
                        <small>모임을 함께한 분들에게 받은 후기들 입니다.</small>
                    </div>
                    <ul class="list-group list-group-flush">
                        <th:block th:each="review : ${reviewList}">
                            <a th:href="@{/view/v1/crews/{userName}/reviewList/{reviewId}(reviewId=${review.id}, userName=${userName})}" class="list-group-item list-group-item-action">
                                <div style="float: left">

                                    <input type="hidden" name="img-key" th:id="${review.id}+' imageKey'" th:value="${review.getFromUserImagePath()}">

                                    <img style="width: 80px; height: 80px; float: left; display: inline-block" th:id="${review.id}+' imageId'">


                                    <input hidden th:value="${AWS_ACCESS_KEY}" id="awsAccessKey">
                                    <input hidden th:value="${AWS_SECRET_ACCESS_KEY}" id="awsSecretAccessKey">
                                    <input hidden th:value="${AWS_REGION}" id="awsRegion">
                                    <input hidden th:value="${AWS_BUCKET_NAME}" id="awsBucketName">
                                    <input hidden th:value="${AWS_BUCKET_DIRECTORY}" id="awsBucketDirectory">

                                    <script type="text/javascript" th:inline="javascript">

                                        console.log([[${review.id}]]+' imageKey');
                                        console.log([[${review.id}]]+' imageId');
                                        console.log([[${review.getFromUserImagePath()}]]);


                                        var imgKey = document.getElementById([[${review.id}]]+ ' imageKey').value;
                                        var imgId = [[${review.id}]]+ ' imageId';

                                        profileGet(imgKey, imgId);

                                        async function profileGet(imgKey, imgId) {

                                            // let uuidString = Math.random().toString(20).substr(2,8);

                                            const ACCESS_KEY = document.getElementById("awsAccessKey").value;
                                            const SECRET_ACCESS_KEY = document.getElementById("awsSecretAccessKey").value;
                                            const REGION = document.getElementById("awsRegion").value;
                                            const BUCKET_NAME = document.getElementById("awsBucketName").value;
                                            const BUCKET_DIRECTORY = document.getElementById("awsBucketDirectory").value;
                                            const S3_BUCKET = BUCKET_NAME + BUCKET_DIRECTORY;


                                            // AWS ACCESS KEY를 세팅합니다.

                                            AWS.config.update({
                                                accessKeyId: ACCESS_KEY,
                                                secretAccessKey: SECRET_ACCESS_KEY
                                            });

                                            var s3 = new AWS.S3({
                                                region: REGION
                                            });

                                            // var imgKey = $('input[name=img-key]').val();

                                            if (!imgKey) {
                                                imgKey = '4f9e2be2-7e04-4aa8-bde0-ac2c4df64fcd-blank-profile-picture-g7d902ce67_1280.png'
                                            }

                                            // 'e44091b4-4c0a-439c-98b1-086773f65f85-lighthouse.png'


                                            const params = {
                                                Bucket: S3_BUCKET,
                                                Key: imgKey
                                            };

                                            var url = s3.getSignedUrl(
                                                "getObject", params
                                            );

                                            // const img1 = document.getElementById('left-image');
                                            // img1.src = url;

                                            console.log("imageId:{ }", imgId);

                                            document.getElementById(imgId).src = url;

                                        }


                                    </script>


                                    <div style="margin-top: 10px; margin-left: 20px; display: inline-block">
                                        <span style="color: orange; font-family: 'Jua', sans-serif; font-size: 20px; font-weight: bold;" th:text="|${review.fromUserName}님이 보낸  후기입니다.|"></span><br>
                                        <small style="color: darkgray; font-family: 'Jua', sans-serif; font-weight: bold;" th:text="|${review.fromUserName}님과 ${review.crewTitle}모임을 함께했어요. 클릭하여 상세 후기를 확인해보세요.|"></small>
                                    </div>
                                </div>
                            </a>
                        </th:block>
                    </ul>
                </div><br><a th:href="@{/view/v1/users/profile/{userName}(userName=${userName})}" class="btn btn-light" aria-describedby="submitHelp" style="position: absolute;
  top: 100%; right: 0;">이전으로</a>
            </div>
        </div>
<!--    </div>-->
</main>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${1 == reviewList.pageable.pageNumber + 1} ? 'disabled'">
            <a class="page-link" href="#" th:href="@{/view/v1/crews/{userName}/reviewList(userName=${userName}, page=${reviewList.pageable.pageNumber - 1})}">Previous</a>
        </li>
        <li class="page-item" th:classappend="${i == reviewList.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a class="page-link" href="#" th:href="@{/view/v1/crews/{userName}/reviewList(userName=${userName}, page=${i - 1})}" th:text="${i}">1</a>
        </li>
        <li class="page-item" th:classappend="${reviewList.totalPages == reviewList.pageable.pageNumber + 1} ? 'disabled'">
            <a class="page-link" href="#" th:href="@{/view/v1/crews/{userName}/reviewList(userName=${userName}, page=${reviewList.pageable.pageNumber + 1})}">Next</a>
        </li>
    </ul>
</nav>

</body>
<footer th:replace="fragments/fragment::footer"></footer>
</html>