<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>

<style>

    .text-strict, .text-peopleNum {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 30%;
    }

    .card-tile {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
    }

    .card-text {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .card-body {
        background-color: rgb(255, 255, 255);
    }

    .button {

    }

</style>

<script>
    // GetMapping에서 데이터 조회 완료 후 url로 파라미터 삭제
    // history.replaceState({}, null, location.pathname);

    // 운동 종목 체크박스 3개 초과 시 알람
    function count_check(obj) {

        var chkBox = document.getElementById("btn-sports");
        var chkCnt = 0;

        for (var i = 0; i < chkBox.length; i++) {
            if (chkBox[i].checked) {
                chkCnt++;
            }
        }
        if (chkCnt > 3) {
            alert("최대 3개 체크 가능합니다.");
            obj.checked = false;
            return false;
        }
    }


</script>





<body>
<!-- 네비바-->
<header th:replace="fragments/fragment :: nav"></header>

<script th:inline="javascript" type="text/javascript" src="/js/main.js"></script>

<main>
    <!-- 소개-->
    <section class="py-5 text-center container ">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="home">운동 메이트</h1>
                <p class="lead text-muted">
                    <br>
                    운동 메이트로 함께 운동하고, <br>
                    동네 이웃과 운동 메이트가 되어 보세요.
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <!-- 운동 종목 데이터 확인-->
            <!--            <label th:text="|userSportsList : ${userSportsList}|"></label><br>-->
            <!--            <label th:text="|sportRequest.getSportsList() : ${sportRequest.getSportsList()}|"></label>-->

            <!-- 운동 체크-->
            <div class="row row-cols-1 row-cols-sm-4 row-cols-md-5 g-col-4">
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        운동 선택
                    </button>
                </div>
                <div></div>
                <body>
                <div id="messages"></div>
                </body>
                <div>
                    <p>
                    <div id="randomCnt" th:text="${randomCnt}"></div>
                    </p>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-danger" type="button" onclick="randomMatch()">
                        + 랜덤 매칭🔥
                    </button>
                    <button class="btn btn-primary" type="button" onclick="location.href='/view/v1/crews/write'">
                        + 모집 등록
                    </button>
                </div>
            </div>

            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form th:action method="get" th:object="${sportRequest}" id="btn-sports">
                        <small class="text-muted" type="hidden" th:field="*{loginStatus}"
                               th:value="${sportRequest.loginStatus}"></small>
                        <div class="grid text-center">
                            <div class="row row-cols-1 row-cols-sm-4 row-cols-md-5 g-4">
                                <label class="btn btn-outline-secondary" th:each="sport : ${sportEnums}">
                                    <input type="checkbox"
                                           onclick="count_check(this)"
                                           name="chk"
                                           th:field="*{sportsList}"
                                           th:value="${sport}"
                                           th:text="${sport.getValue()}">
                                </label>
                            </div>
                            <button class="btn btn-primary" type="submit">조회 버튼</button>
                            <button class="btn btn-primary" type="button" onclick="location.href='/view/v1/crews'">
                                My운동종목
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 앨범-->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="crew : ${crewList}">
                    <small class="text-muted" type="hidden" th:value="${crewStat.index}"></small>
                        <img src="" class="img-thumbnail" style="width:100%; height:225px;" id="main-image">
                        <input type="hidden" name="img-key" th:value="${crew.imagePath}">
                        <div class="card-body">
                            <div class="test">
                                <h3 class="card-tile" th:text="${crew.title}">제목</h3>
                                <p class="card-text" th:text="${crew.content}">내용</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted" th:text="${crew.strict}">지역</small>
                                <div th:id="${crew.id}">
                                    <script th:inline="javascript">
                                        findPart([[${crew.id}]]);
                                    </script>
                                </div>
                                <small class="text-muted" th:text="${crew.crewLimit} + 명">인원</small>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary"><a
                                            th:href="@{/view/v1/crews/{crewId}(crewId = ${crew.id},
                                                                               page = (${nowPage} - 1) * 9 + ${crewStat.index},
                                                                               loginStatus = ${sportRequest.loginStatus},
                                                                               strict = ${sportRequest.getStrict()},
                                                                               sportsList = ${sportRequest.getSportsList()}
                                                                               )}">상세보기</a>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- 하단 페이징-->
        <div class="py-3 my-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${1 == nowPage} ? 'disabled'">
                        <a class="page-link" th:href="@{/view/v1/crews(page = ${nowPage - 2},
                                                                           strict=${sportRequest.getStrict()},
                                                                           loginStatus = ${sportRequest.loginStatus},
                                                                           sportsList=${sportRequest.getSportsList()})}">Previous</a>
                    </li>
                    <th:block th:each="page : ${#numbers.sequence(startNumPage, endNumPage)}">
                        <li class="page-item" th:if="${page != nowPage}"><a class="page-link"
                                                                            th:href="@{/view/v1/crews(
                                                                                            page = ${page - 1},
                                                                                            loginStatus = ${sportRequest.loginStatus},
                                                                                            strict=${sportRequest.getStrict()},
                                                                                            sportsList=${sportRequest.getSportsList()}
                                                                                            )}" th:text="${page}">1</a>
                        </li>

                        <li class="page-item" th:if="${page == nowPage}"><strong class="page-link" th:text="${page}"
                                                                                 style="color: red"></strong></li>
                    </th:block>
                    <li class="page-item" th:classappend="${lastPage == nowPage} ? 'disabled'">
                        <a class="page-link" th:href="@{/view/v1/crews(page = ${nowPage},
                                                                           strict=${sportRequest.getStrict()},
                                                                           loginStatus = ${sportRequest.loginStatus},
                                                                           sportsList=${sportRequest.getSportsList()})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</main>

<footer th:replace="fragments/fragment :: footer"></footer>

<!-- JavaScript Bundle with Popper -->
<script type="text/javascript" src="/js/random.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>


</body>
</html>
