<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>프로필 수정</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.891.0.min.js"></script>


    <style>

        * {
            font-family: 'Gowun Dodum', sans-serif;
        }


        #container-profile {
            max-width: 600px;
            max-height: 1000px;
            position: relative;

        }

        .container-sport {
            max-width: 400px;
            max-height: 200px;
            position: relative;

        }
        .container-navbar{
            position: absolute;
            top:30%;

        }

        #left-box {
            list-style-type: none;
            padding: 10px;
            margin: 0px;
            width: 200px;
            background: lightblue;
            height: 100%;
            overflow: auto;
            position: fixed;
        }

        li a {
            text-decoration: none;
            padding: 10px;
            display: block;
            color: #000;
            font-weight: bold;
        }


    </style>


</head>

<body>

<header th:replace="fragments/fragment :: nav"></header>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<ul id="left-box">
    <img src = "" class="img-thumbnail" style="width:100px; height:100px;" id="left-image">

    <p style="position: relative; top:10px;">소개말말말</p>

    <div class="container-navbar">

        <li><a class="home" href="/view/v1/crews/">홈화면</a></li>
        <li><a href="/view/v1/users/profile/my">프로필 수정</a></li>
        <li><a href="#">참여중인 모임</a></li>
        <li><a href="#">333444</a></li>
    </div>

</ul>

<div sec:authorize="isAuthenticated()">


    <input type="hidden" name="img-key" th:value="${userProfileImagePath}">

    <div class="container" style="padding:20px;" id="container-profile">


        <span class="placeholder col-12 bg-light placeholder-lg"></span>
        <span class="placeholder col-12 bg-light placeholder-lg"></span>
        <span class="placeholder col-12 bg-light placeholder-lg"></span>

        <form method="post" action="/view/v1/users/profile/edit" th:object="${userProfileRequest}">

            <img src="" class="rounded mx-auto d-block" style="height: 200px; width: 200px;" id="main-image">

            <button class="btn btn-primary" type="button" onclick="location.href = '/view/v1/users/profile/image/edit';">프로필 사진 변경</button>


            <div class="mb-3 row">
                <label for="password1" class="col-sm-3 col-form-label">비밀번호</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password1" placeholder="비밀번호" th:field="*{password}">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="password2" class="col-sm-3 col-form-label">비밀번호 확인</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password2" placeholder="비밀번호 확인" th:field="*{passwordConfirm}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="address" class="col-sm-3 col-form-label">주소</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="address"  th:field="*{address}" >
                </div>
            </div>
            <div class="container-sport">
                <label class="col-sm-3 col-form-label">선호 종목</label>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" id="likeSoccer" th:field="*{likeSoccer}">
                    <label class="form-check-label" for="likeSoccer">
                        축구
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" id="likeJogging" th:field="*{likeJogging}">
                    <label class="form-check-label" for="likeJogging">
                        조깅
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="likeTennis" th:field="*{likeTennis}">
                    <label class="form-check-label" for="likeTennis">
                        테니스
                    </label>
                </div>

                <span class="placeholder col-12 bg-light placeholder-lg"></span>


            </div>

            <button class="btn btn-primary" type="submit" >수정 완료</button>
        </form>



    </div>


</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


<script src="http://code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript" th:inline="javascript">

    window.onload = async function profileGet() {

        let uuidString = self.crypto.randomUUID();

        const ACCESS_KEY = 'AKIA44KXB4KHWH22K4HD';
        const SECRET_ACCESS_KEY = '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';
        const REGION = 'ap-northeast-2';
        const BUCKET_NAME = 'poco-bucket-2';
        const BUCKET_DIRECTORY = '/profileimages';
        const S3_BUCKET = BUCKET_NAME + BUCKET_DIRECTORY;

        // AWS ACCESS KEY를 세팅합니다.

        AWS.config.update({
            accessKeyId: ACCESS_KEY,
            secretAccessKey: SECRET_ACCESS_KEY
        });

        var s3 = new AWS.S3({
            region: REGION
        });

        var imgKey = $('input[name=img-key]').val();

        // 'e44091b4-4c0a-439c-98b1-086773f65f85-lighthouse.png'

        if(!imgKey){
            imgKey = '4f9e2be2-7e04-4aa8-bde0-ac2c4df64fcd-blank-profile-picture-g7d902ce67_1280.png'
        }



        const params = {
            Bucket: S3_BUCKET,
            Key: imgKey
        };

        var url = s3.getSignedUrl(
            "getObject", params
        );

        const img1 = document.getElementById('left-image');
        img1.src = url;

        const img2 = document.getElementById('main-image');
        img2.src = url;

        console.log(url);



    }


</script>



</body>

