<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
<!-- 네비바-->
<header th:replace="fragments/fragment :: nav"></header>


        <!--    <link rel="canonical" href="https://getbootstrap.kr/docs/5.1/examples/checkout/">-->
        <!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
        <!--    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Favicons -->
        <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
        <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
        <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
        <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
        <meta name="theme-color" content="#7952b3">

        <style>
            .container {
                max-width: 960px;
            }
        </style>
    </body>
</head>
<body>
<section class="bg-gray200 pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <article class="card">
                    <h1 class="card-title display-5">
                        <!--/*@thymesVar id="title" type=""*/-->
                        <span th:text="${details.title}"></span></h1>
                    <img class="card-img-top mb-2" src=https://user-images.githubusercontent.com/73879325/214769088-0db6fd43-002a-4492-940a-9decd66d74a9.png alt="Card image">
                    <div class="card-body">
                        <ul>
                            <div>
                                <!--여기에 사용자 링크 넣기
                                <img id="imgId" th:src="@{/accounts/}+${accountDto.userId}" width="100" height="100"  alt="첨부이미지" />-->
<!--                                <img th:src="resources/img/defaultUser.jpg">-->
<!--                                <img width="100" height="100" src="img/defaultUser.jpg" alt="첨부이미지"/>-->
                                <h4><a class=name th:view/v1/users/profile/{userName}><span th:text="${details.userId}"></span></a></h4>
                            </div>
                            <!--crew에 baseEntity가 적용되지 않은 거 같다
                            <span style="font-size: xx-small;" th:text="${details.createdAt}"></span>-->
                            <th:block>
                                <li>모집 인원 : <span th:text="${details.crewLimit}"></span></li>
                                <li>위치 : <span th:text="${details.strict}"></span></li>
                                <li>모집 내용 : <span th:text="${details.content}"></span></li>
                                <li>2 tablespoons sugar</li>
                                <li>A teaspoon of salt</li>
                            </th:block>

                        </ul>
                        <!-- 목록으로 돌아가기 버튼
                        ================================================== -->
                        <div style="display: inline-block">
                            <form class="container" form action="javascript:history.back()" method="get">
                                <button class="btn btn-success btn-lg" type="submit"
                                        style="width:120px;height:40px;font-size: 15px">돌아가기
                                </button>
                            </form>
                        </div>

                        <!-- Begin Comments -replace demowebsite with your own id
                        ================================================== -->

                        <div align="center">
                            <form class="container">
                                <button type="button" class="btn btn-light btn-lg" id="like-btn"
                                        onclick="likeCrew()"
                                        style="width:60px;height:50px;font-size: 20px">👍
                                </button>
                                <tr><div id="like_result"><span th:text="${likeCount}"></span></div> </tr>
                                </button>
                            </form>
                        </div>
                        <!--<form id="like_form">
                            <table id="list">
                                <input type="hidden" name="command" value="like_it">
                                <input type="hidden" name="board_num" value="${board.num}">
                                <tr><input type="button" value="좋아요!" onclick="return like()" > </tr>
                                <tr><div id="like_result">${board.like_it}</div> </tr>
                            </table>
                        </form>-->

                        <!-- Begin Comments -replace demowebsite with your own id
                        ================================================== -->
                        <section>

                            <br>
                            <p class="comment">댓글 작성</p>
<!--                            <div>-->
<!--                                <p class="comment2" sec:authorize="isAnonymous()">로그인 후 댓글을 작성할 수 있습니다.</p>-->
<!--                            </div>-->
<!--                            <div sec:authorize="isAuthenticated()">-->
                                <form method="post" >
                                    <div class="input-group" style="width:auto">
                                        <label class="form-label mt-4" hidden>댓글 작성</label>
                                        <input type="text"  class="form-control" id="commentContent" name="commentContent" placeholder="댓글을 입력해주세요">
                                        <input type="text" hidden th:value="${crewId}" id="crewId">
<!--                                        <input type="text" hidden th:value="${#authentication.getName()}" id="principal">-->
<!--                                        <button type="button" id="commentBtn"  onclick="commentCheck()" class="btn btn-light">작성</button>-->
                                        <div>
                                        </div>
                                        <br>
                                    </div>
                                </form>
                                <p class="field-error commentContentCheck"></p>
                                <br>
<!--                            </div>-->
                            <div id="commentList"> 댓글 list</div>

                        </section>

                    <!--End Comments
                    ================================================== -->
            </div>
            </article>
        </div>
    </div>
    </div>
</section>

<div id="wrapper">
    <button class="w-100 btn btn-secondary btn-lg" type="submit" onclick=""
            style="width:500px;margin:auto;"> 참여하기</button>
</div>

<footer th:replace="fragments/fragment :: footer"></footer>

</body>
</html>