<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<!--    <link rel="canonical" href="https://getbootstrap.kr/docs/5.1/examples/checkout/">-->
<!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
<!--    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .container {
            max-width: 960px;
        }
    </style>
</head>
<body class="bg-light">

<div class="container">
    <main>
        <div class="py-5 text-center">

            <h2>🎉 운동메 모집하기</h2>
            <p class="lead">간단한 모임을 이루어 다양한 사람들과 운동하기</p>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mb-3">운동메 모집 양식</h4>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col">
                            <label for="title" class="form-label">운동모임 이름</label>
                            <input type="text" class="form-control" id="title" placeholder="이름" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>


                        <div class="col-12">
                            <label for="content" class="form-label">운동메 제목</label>
                            <input type="text" class="form-control" id="content" placeholder="모임하고싶은 이름" required>
                            <div class="invalid-feedback">
                                제목을 입력하세요!
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address2" class="form-label">세부 내용입력<span class="text-muted">(Optional)</span></label>
                            <textarea class="form-control" id="address2" placeholder="모임의 세부내용"></textarea>
                        </div>

                        <div class="col-md-5">
                            <label class="form-label">지역</label>
                            <select name="h_area1" onChange="cat1_change(this.value,h_area2)" class="form-select" id="h_area1">
                                <option>-선택-</option>
                                <option value='1'>서울</option>
                                <option value='2'>부산</option>
                                <option value='3'>대구</option>
                                <option value='4'>인천</option>
                                <option value='5'>광주</option>
                                <option value='6'>대전</option>
                                <option value='7'>울산</option>
                                <option value='8'>강원</option>
                                <option value='9'>경기</option>
                                <option value='10'>경남</option>
                                <option value='11'>경북</option>
                                <option value='12'>전남</option>
                                <option value='13'>전북</option>
                                <option value='14'>제주</option>
                                <option value='15'>충남</option>
                                <option value='16'>충북</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">State</label>
                            <select name="h_area2" class="form-select">
                                <option>-선택-</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="zip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="" required>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <label class="form-label" id="rangeHuman">인원수</label>
                    <input type="range" class="form-range" min="1" max="99" step="1" id="customRange3" onchange="changeLabel()">

                    <hr class="my-4">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="same-address">
                        <label class="form-check-label" for="same-address">성향</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="save-info">
                        <label class="form-check-label" for="save-info">성향</label>
                    </div>

                    <hr class="my-4">

                    <h4 class="mb-3">우리는 이런 모임입니다</h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                            <label class="form-check-label" for="credit">타입1</label>
                        </div>
                        <div class="form-check">
                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="debit">타입2</label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="paypal">타입3</label>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit" onclick="crewMake()">💪모임 시작하기</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2022 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="form-validation.js"></script>
<script>
    async function crewMake() {
        let response = await fetch("/api/v1/crews", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Authorization": localStorage.getItem('jwt'),
                "Authentication": localStorage.getItem('jwt')
            },
            body: JSON.stringify({
                strict: "null",
                crewLimit: document.getElementById("customRange3").value,
                content: document.getElementById("content").value,
                title: document.getElementById("title").value
            })
        })
        if(response.ok){
            let json = await response.json()
            alert(json.result.message);
            location.href="/view/v1/home";
        }else{
            let json = await response.text();
            alert(json.result.message);
        }
    }


    var cat2_num = new Array();
    var cat2_name = new Array();

    cat2_num[1] = new Array(17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41);
    cat2_name[1] = new Array('강남구','강동구','강북구','강서구','관악구','광진구','구로구','금천구','노원구','도봉구','동대문구','동작구','마포구','서대문구','서초구','성동구','성북구','송파구','양천구','영등포구','용산구','은평구','종로구','중구','중랑구');

    cat2_num[2] = new Array(42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57);
    cat2_name[2] = new Array('강서구','금정구','남구','동구','동래구','부산진구','북구','사상구','사하구','서구','수영구','연제구','영도구','중구','해운대구','기장군');

    cat2_num[3] = new Array(58,59,60,61,62,63,64,65);
    cat2_name[3] = new Array('남구','달서구','동구','북구','서구','수성구','중구','달성군');

    cat2_num[4] = new Array(66,67,68,69,70,71,72,73,74,75);
    cat2_name[4] = new Array('계양구','남구','남동구','동구','부평구','서구','연수구','중구','강화군','옹진군');

    cat2_num[5] = new Array(76,77,78,79,80);
    cat2_name[5] = new Array('광산구','남구','동구','북구','서구');

    cat2_num[6] = new Array(81,82,83,84,85);
    cat2_name[6] = new Array('대덕구','동구','서구','유성구','중구');

    cat2_num[7] = new Array(86,87,88,89,90);
    cat2_name[7] = new Array('남구','동구','북구','중구','울주군');

    cat2_num[8] = new Array(91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108);
    cat2_name[8] = new Array('강릉시','동해시','삼척시','속초시','원주시','춘천시','태백시','고성군','양구군','양양군','영월군','인제군','정선군','철원군','평창군','홍천군','화천군','횡성군');

    cat2_num[9] = new Array(109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148);
    cat2_name[9] = new Array('고양시 덕양구','고양시 일산구','과천시','광명시','광주시','구리시','군포시','김포시','남양주시','동두천시','부천시 소사구','부천시 오정구','부천시 원미구','성남시 분당구','성남시 수정구','성남시 중원구','수원시 권선구','수원시 장안구','수원시 팔달구','시흥시','안산시 단원구','안산시 상록구','안성시','안양시 동안구','안양시 만안구','오산시','용인시','의왕시','의정부시','이천시','파주시','평택시','하남시','화성시','가평군','양주군','양평군','여주군','연천군','포천군');

    cat2_num[10] = new Array(149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168);
    cat2_name[10] = new Array('거제시','김해시','마산시','밀양시','사천시','양산시','진주시','진해시','창원시','통영시','거창군','고성군','남해군','산청군','의령군','창녕군','하동군','함안군','함양군','합천군');

    cat2_num[11] = new Array(169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192);
    cat2_name[11] = new Array('경산시','경주시','구미시','김천시','문경시','상주시','안동시','영주시','영천시','포항시 남구','포항시 북구','고령군','군위군','봉화군','성주군','영덕군','영양군','예천군','울릉군','울진군','의성군','청도군','청송군','칠곡군');

    cat2_num[12] = new Array(193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214);
    cat2_name[12] = new Array('광양시','나주시','목포시','순천시','여수시','강진군','고흥군','곡성군','구례군','담양군','무안군','보성군','신안군','영광군','영암군','완도군','장성군','장흥군','진도군','함평군','해남군','화순군');

    cat2_num[13] = new Array(215,216,217,218,219,220,221,222,223,224,225,226,227,228,229);
    cat2_name[13] = new Array('군산시','김제시','남원시','익산시','전주시 덕진구','전주시 완산구','정읍시','고창군','무주군','부안군','순창군','완주군','임실군','장수군','진안군');

    cat2_num[14] = new Array(230,231,232,233);
    cat2_name[14] = new Array('서귀포시','제주시','남제주군','북제주군');

    cat2_num[15] = new Array(234,235,236,237,238,239,240,241,242,243,244,245,246,247,248);
    cat2_name[15] = new Array('공주시','논산시','보령시','서산시','아산시','천안시','금산군','당진군','부여군','서천군','연기군','예산군','청양군','태안군','홍성군');

    cat2_num[16] = new Array(249,250,251,252,253,254,255,256,257,258,259,260);
    cat2_name[16] = new Array('제천시','청주시 상당구','청주시 흥덕구','충주시','괴산군','단양군','보은군','영동군','옥천군','음성군','진천군','청원군');

    function cat1_change(key,sel){
        if(key == '') return;
        var name = cat2_name[key];
        var val = cat2_num[key];

        for(i=sel.length-1; i>=0; i--)
            sel.options[i] = null;
        sel.options[0] = new Option('-선택-','', '', 'true');
        for(i=0; i<name.length; i++){
            sel.options[i+1] = new Option(name[i],val[i]);
        }
    }

    function changeLabel(){
        document.getElementById('rangeHuman').innerHTML = "인원수 " + document.getElementById('customRange3').value ;
    }

</script>

</body>
</html>