<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<!--    <link rel="canonical" href="https://getbootstrap.kr/docs/5.1/examples/checkout/">-->
<!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
<!--    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Favicons -->
<!--    달력-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.891.0.min.js"></script>



    <meta name="theme-color" content="#7952b3">

    <style>


        .slidecontainer {
            width: 100%;
            margin-top: 100px;
        }

        .slider {
            -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
            width: 200%; /* 슬라이더 길이 */
            height: 15px; /* 슬라이더 두께 */
            border-radius: 5px; /* 슬라이더 모서리를 약간 둥글게 */
            background: #ccc; /* 슬라이더 색상 */
            outline: none; /* 슬라이더 테두리 없이 */
        }

        /* 슬라이더 핸들(클릭해서 드래그하는 부분) 커스텀
        (Chrome, Opera, Safari, Edge 브라우저를 위해서는 -webkit-을,
        Firefox 브라우저를 위해서는 -moz- 를 사용하세요 */
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
            appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
            width: 100px; /* 슬라이더 핸들 길이 */
            height: 25px; /* 슬라이더 핸들 높이 */
            border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
            background: #00f; /* 슬라이더 핸들 색상 */
            cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .container {
            max-width: 960px;
        }
    </style>
</head>
<body class="bg-light">

<div class="container">
    <main>
        <div class="py-5 text-center">

            <h2>🎉 운동메 모집하기</h2>
            <p class="lead">간단한 모임을 이루어 다양한 사람들과 운동하기</p>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mb-3">운동메 모집 양식</h4>

                    <div class="row g-3">
                        <div>
                        <th:block th:each="sport : ${sportEnums}">
                            <label class="btn btn-outline-secondary"> <input name="sportradio" type="radio" th:value="${sport}" th:text="${sport}">

                            </label>
                        </th:block>
                        </div>

                        <div class="col-12">
                            <label for="title" class="form-label">운동메 제목</label>
                            <input type="text" class="form-control" id="title" placeholder="모임하고싶은 이름" required>
                            <div class="invalid-feedback">
                                제목을 입력하세요!
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="content" class="form-label">세부 내용입력<span class="text-muted">(Optional)</span></label>
                            <textarea class="form-control" id="content" placeholder="모임의 세부내용"></textarea>
                        </div>

                    </div>

                    <hr class="my-4">
                <!--                    달력 캘린더 -->
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="datepicker">날짜</label>
                        <input type="date" class="form-control" id="datepicker" dataformatas="yyyy-mm-dd">
                        </div>
                        <div class="col">
                            <label class="form-label" for="datepicker">시간</label>
                        <input type="time" class="form-control" id="timepicker">
                        </div>
                    </div>

                    <script>
                        $('#datepicker')
                            .datepicker({
                                dateFormat: 'yy-mm-dd'//데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
                            })
                            .on('changeDate', function (e) {
                                console.log(e);
                                // e.date를 찍어보면 Thu Jun 27 2019 00:00:00 GMT+0900 (한국 표준시) 위와 같은 형태로 보인다.
                            });
                    </script>

                    <hr class="my-4">


                <div class="col-12">
                    <!-- 카카오 지도 api -->
                    <div id="map" style="width:500px;height:400px;"></div>
                    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=99a93a891ef6fc1b81b324cfbe0ba2c0&libraries=services"></script>
                    <script>
                        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                            mapOption = {
                                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                                level: 1 // 지도의 확대 레벨
                            };

                        // 지도를 생성합니다
                        var map = new kakao.maps.Map(mapContainer, mapOption);

                        // 주소-좌표 변환 객체를 생성합니다
                        var geocoder = new kakao.maps.services.Geocoder();

                        var marker = new kakao.maps.Marker(), // 클릭한 위치를 표시할 마커입니다
                            infowindow = new kakao.maps.InfoWindow({zindex:1}); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다

                        // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
                        searchAddrFromCoords(map.getCenter(), displayCenterInfo);

                        // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
                        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                            searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                                if (status === kakao.maps.services.Status.OK) {
                                    var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                                    var detailAddrValue = !!result[0].road_address ? result[0].road_address.address_name+" " : "";
                                    document.getElementById("address_kakao").value = detailAddrValue;
                                    detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                                    document.getElementById("address_detail").value = result[0].address.address_name+" ";



                                    var content = '<div class="bAddr">' +
                                        '<span class="title">법정동 주소정보</span>' +
                                        detailAddr +
                                        '</div>';

                                    // 마커를 클릭한 위치에 표시합니다
                                    marker.setPosition(mouseEvent.latLng);
                                    marker.setMap(map);

                                    // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                                    infowindow.setContent(content);
                                    infowindow.open(map, marker);
                                }
                            });
                        });

                        // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
                        kakao.maps.event.addListener(map, 'idle', function() {
                            searchAddrFromCoords(map.getCenter(), displayCenterInfo);
                        });

                        function searchAddrFromCoords(coords, callback) {
                            // 좌표로 행정동 주소 정보를 요청합니다
                            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
                        }

                        function searchDetailAddrFromCoords(coords, callback) {
                            // 좌표로 법정동 상세 주소 정보를 요청합니다
                            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
                        }

                        // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
                        function displayCenterInfo(result, status) {
                            if (status === kakao.maps.services.Status.OK) {
                                var infoDiv = document.getElementById('centerAddr');

                                for(var i = 0; i < result.length; i++) {
                                    // 행정동의 region_type 값은 'H' 이므로
                                    if (result[i].region_type === 'H') {
                                        infoDiv.innerHTML = result[i].address_name;
                                        break;
                                    }
                                }
                            }
                        }
                    </script>

                </div>


                <hr class="my-4">
                <div class="row">
                    <div class="col">
                        <input type="file" accept="image/*" id="imageFile"/>
                        <button type="button" onclick="profileUpload()"> 업로드 </button>
                        <input type="hidden" value="" name="imagePath" id="imagePath"/>
                    </div>
                </div>



                <hr class="my-4">
                <div class="row">
                    <div class="col">
                        <label for="address_kakao" class="form-label">도로명 주소</label>
                        <input type="text" class="form-control" id="address_kakao" placeholder="도로명 주소" required>
                    </div>
                    <div class="col">
                        <label for="address_detail" class="form-label">지번 주소</label>
                        <input type="text" class="form-control" id="address_detail" placeholder="지번 주소" required>
                    </div>
                </div>



                <!--
                    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                    <script>
                        window.onload = function(){
                            document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
                                //카카오 지도 발생
                                new daum.Postcode({
                                    oncomplete: function(data) { //선택시 입력값 세팅
                                        document.getElementById("address_kakao").value = data.address; // 주소 넣기
                                        document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
                                    }
                                }).open();
                            });
                        }
                    </script>
                -->
                    <hr class="my-4">

                <div class="d-flex justify-content-center">
                <label class="form-label" id="rangeHuman">인원수</label>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="range" class="form-range" min="1" max="99" step="1" id="myRange">
                </div>

                <script>
                    var slider = document.getElementById("myRange");
                    var output = document.getElementById("rangeHuman");
                    output.innerHTML = slider.value;

                    slider.oninput = function() {
                        output.innerHTML = this.value;
                    }
                </script>

                    <hr class="my-4">


                <button class="w-100 btn btn-primary btn-lg" id="writeBtn" onclick="crewMake()">💪모임 시작하기</button>
                <br>
                <button class="w-100 btn btn-primary btn-lg" id="backBtn">조금 더 둘러보기</button>
            </div>
        </div>
    </main>

</div>

<script>
    document.getElementById('backBtn').addEventListener('click',back);
    function back(){
        location.href="/view/v1/crews";
    }

    async function chatRoomMake(crewId){
        let response = await fetch("/api/v1/room", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            credentials: "include",
            body: JSON.stringify({
                crewId: crewId,
                name: document.getElementById("title").value
            })
        })
        console.log(response);
        if(response.ok){
            let json = await response.json()
            console.log(json);
            alert("채팅등록");
        }else{
            let json = await response.text();
            console.log(json);
            alert("실패");
        }
    }

   async function crewMake() {
       let choose = document.querySelector('input[type=radio][name=sportradio]:checked').value;

       if(choose === null){
           console.log("error not choose");
           return;
       }
       console.log("start");
        let response = await fetch("/api/v1/crews", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            credentials: "include",
            body: JSON.stringify({
                strict: document.getElementById("address_detail").value,
                roadName: document.getElementById("address_kakao").value,
                crewLimit: document.getElementById("myRange").value,
                content: document.getElementById("content").value,
                title: document.getElementById("title").value,
                datepick: document.getElementById("datepicker").value,
                timepick: document.getElementById("timepicker").value,
                imagePath: document.getElementById("imagePath").value,
                chooseSport: choose
            })

        })
        console.log(response);
        if(response.ok){
            let json = await response.json()
            console.log(json);
            alert("모임등록성공!");
            let crewId = json.result.crewId;
            chatRoomMake(crewId);
            location.href="/view/v1/crews";
        }else{
            let json = await response.text();
            console.log(json);
        }
   }


    function profileUpload() {

        let uuidString = self.crypto.randomUUID();

        const ACCESS_KEY = 'AKIA44KXB4KHWH22K4HD';
        const SECRET_ACCESS_KEY = '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';
        const REGION = 'ap-northeast-2';
        const BUCKET_NAME = 'poco-bucket-2';
        const BUCKET_DIRECTORY = '/crewimages';
        const S3_BUCKET = BUCKET_NAME + BUCKET_DIRECTORY;

        // AWS ACCESS KEY를 세팅합니다.
        AWS.config.update({
            accessKeyId: ACCESS_KEY,
            secretAccessKey: SECRET_ACCESS_KEY
        });

        // 버킷에 맞는 이름과 리전을 설정합니다.
        const myBucket = new AWS.S3({
            params: { Bucket: S3_BUCKET},
            region: REGION,
        });



        let files = document.getElementById('imageFile').files;
        let file = files[0];

        let fileName = uuidString + '-' + file.name.replace(' ', '');


        const params = {
            ACL: 'public-read',
            Body: file,
            Bucket: S3_BUCKET,
            Key: fileName
        };


        myBucket.putObject(params)
            .on('httpUploadProgress', (evt) => {
                alert("SUCCESS");
                console.log(fileName);
                $('#imagePath').val(fileName);
            })
            .send((err) => {
                if (err) console.log(err)
            })

    }



</script>



</body>
</html>