<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment::head"></head>
<body>
<header th:replace="fragments/fragment::nav"></header>
<div class="container"><br><br>
    <h2>참여중인 모임 👨‍👧‍👦</h2>
    <div class="row py-5">
        <div class="col-2">
            <ul class="list-group mt-1">
                <a th:href="@{/view/v1/crews/{userName}/active(userName=${userName})}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    참여하고 있는 모임
                    <span th:text="${activeCrewCount}">3</span>
                </a>
                <a th:href="@{/view/v1/crews/{userName}/end(userName=${userName})}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center active">
                    종료한 모임
                    <span th:text="${endCrewCount}">0</span>
                </a>
                <br><br>
                <a th:href="@{/view/v1/users/profile/{userName}(userName=${userName})}" class="btn btn-light" aria-describedby="submitHelp">이전으로</a>
            </ul>
        </div>
        <div class="col-9">
            <div class="card" th:if="${crewList.getTotalElements() == 0}">
                <div class="card-header">
                    종료된 모임이 없습니다.
                </div>
            </div>
            <div class="card" th:if="${crewList.getTotalElements() > 0}">
                <div class="card-header">
                    종료된 모임 입니다.
                </div>
                <ul class="list-group list-group-flush">
                    <th:block th:each="crew : ${crewList}">
                        <a th:href="@{/view/v1/crews/detail/{crewId}(crewId=${crew.id})}" class="list-group-item list-group-item-action">
                            <div style="float: left">
                                <input type="hidden" name="img-key" th:id="${crew.id}+' imageKey'" th:value="${crew.imagePath}">


                                <img class="img-thumbnail" th:id="${crew.id}+' imageId'" style="width: 80px; height: 80px; float: left; display: inline-block">


                                <input hidden th:value="${AWS_ACCESS_KEY}" id="awsAccessKey">
                                <input hidden th:value="${AWS_SECRET_ACCESS_KEY}" id="awsSecretAccessKey">
                                <input hidden th:value="${AWS_REGION}" id="awsRegion">
                                <input hidden th:value="${AWS_BUCKET_NAME}" id="awsBucketName">
                                <input hidden th:value="${AWS_BUCKET_DIRECTORY}" id="awsBucketDirectory">

                                <script type="text/javascript" th:inline="javascript">

                                    console.log([[${crew.id}]]+' imageKey');
                                    console.log([[${crew.id}]]+' imageId');


                                    var imgKey = document.getElementById([[${crew.id}]]+ ' imageKey').value;
                                    var imgId = [[${crew.id}]]+ ' imageId';

                                    profileGet(imgKey, imgId);

                                    async function profileGet(imgKey, imgId) {

                                        // let uuidString = Math.random().toString(20).substr(2,8);

                                        const ACCESS_KEY = document.getElementById("awsAccessKey").value;
                                        const SECRET_ACCESS_KEY = document.getElementById("awsSecretAccessKey").value;
                                        const REGION = document.getElementById("awsRegion").value;
                                        const BUCKET_NAME = document.getElementById("awsBucketName").value;
                                        const BUCKET_DIRECTORY = document.getElementById("awsBucketDirectory").value;
                                        const S3_BUCKET = BUCKET_NAME + BUCKET_DIRECTORY;


                                        // AWS ACCESS KEY를 세팅합니다.

                                        AWS.config.update({
                                            accessKeyId: ACCESS_KEY,
                                            secretAccessKey: SECRET_ACCESS_KEY
                                        });

                                        var s3 = new AWS.S3({
                                            region: REGION
                                        });

                                        // var imgKey = $('input[name=img-key]').val();

                                        if (!imgKey) {
                                            imgKey = '4f9e2be2-7e04-4aa8-bde0-ac2c4df64fcd-blank-profile-picture-g7d902ce67_1280.png'
                                        }

                                        // 'e44091b4-4c0a-439c-98b1-086773f65f85-lighthouse.png'


                                        const params = {
                                            Bucket: S3_BUCKET,
                                            Key: imgKey
                                        };

                                        var url = s3.getSignedUrl(
                                            "getObject", params
                                        );

                                        // const img1 = document.getElementById('left-image');
                                        // img1.src = url;

                                        console.log("imageId:{ }", imgId);

                                        document.getElementById(imgId).src = url;

                                    }


                                </script>

                                <div style="margin-top: 10px; margin-left: 20px; display: inline-block">
                                    <span style="color: black; font-family: 'Jua', sans-serif; font-size: 20px; font-weight: bold;" th:text="|${crew.title}|"></span><br>
                                    <!--                                모집중, 모집완료, 모임종료를 보여주도록 작성-->
                                    <!--                                <span style="color: orange; font-family: 'Jua', sans-serif; font-size: 20px; font-weight: bold;" th:text="|${crew.현재 상태}중 입니다.|"></span><br>-->
                                    <small style="" th:text="|${crew.crewLimit}명이 참여 가능합니다.|"></small>
                                </div>
                            </div>
                        </a>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${1 == crewList.pageable.pageNumber + 1} ? 'disabled'">
            <a class="page-link" href="#" th:href="@{/view/v1/crews/{userName}/end(userName=${userName}, page=${crewList.pageable.pageNumber - 1})}">Previous</a>
        </li>
        <li class="page-item" th:classappend="${i == crewList.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a class="page-link" href="#" th:href="@{/view/v1/crews/{userName}/end(userName=${userName}, page=${i - 1})}" th:text="${i}">1</a>
        </li>
        <li class="page-item" th:classappend="${crewList.totalPages == crewList.pageable.pageNumber + 1} ? 'disabled'">
            <a class="page-link" href="#" th:href="@{/view/v1/crews/{userName}/end(userName=${userName}, page=${crewList.pageable.pageNumber + 1})}">Next</a>
        </li>
    </ul>
</nav>

</body>
<footer th:replace="fragments/fragment::footer"></footer>