/*Box 크기 체크용*/
/*.crewBoxParent, .collapse, .btnBar, .ttt {*/
/*    background-color: #585858;*/
/*    border:3px solid red;*/
/*}*/

/*타이핑*/
.typeText::after {
    content: "|";
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/*긴 문자 처리*/
.text-strict {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
}

.text-strict2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
}

.card-title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333838;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.card-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #323334;
    width: 100%;
    margin-bottom: 2%;
}

.card-body {
    background-color: rgba(248, 253, 253, 0.98);
}

/*검색바*/
.btnBar {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}

.searchBar {
    width: 100%;
    position: center;
}

.searchBar2 {
    width: 80%;
    margin-left: 10%;
    margin-top: 7%;
    position: center;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgb(39, 172, 255),
    0 5px 5px rgba(0, 0, 0, 0.22);
    border: rgba(1, 27, 86, 0.94);
}

/*운동선책 버튼 무빙 효과*/
.btn-jittery {
    animation: jittery 8s infinite;
}

@keyframes jittery {
    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    15% {
        transform: scale(1.15);
    }

    20% {
        transform: scale(1.15) rotate(-5deg);
    }

    25% {
        transform: scale(1.15) rotate(5deg);
    }

    30% {
        transform: scale(1.15) rotate(-3deg);
    }

    35% {
        transform: scale(1.15) rotate(2deg);
    }

    40% {
        transform: scale(1.15) rotate(0);
    }
}

/*운동선택 버튼*/
.btn3 {
    width: 27%;
}

.btn.cyan {
    height: 90%;
    width: 40%;
    background-color: #147fd3;
    box-shadow: 0px 4px 3px #093ed2;
    padding: 8px 18px;
    font-size: 16px;
    color: white;
}

.btn-gradient.cyan {
    background: rgb(52, 151, 218);
    background: -webkit-linear-gradient(to right, #27d7ff, #4176fc);
    background: linear-gradient(to right, #27d7ff, #4176fc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bbcc2', endColorstr='#18a3a8', GradientType=0);
}

. btn-outline-danger {
    height: 70%;
    width: 100%;
    padding: 8px 18px;
}

/*모임등록 버튼*/
.btn-crewAdd {
    width: 13%;
}

.btn.blue {
    height: 90%;
    width: 100%;
    background-color: #147fd3;
    box-shadow: 0px 4px 3px #093ed2;
    padding: 8px 18px;
    font-size: 16px;
    color: white;
}

.btn.blue:active {
    box-shadow: 0 0 #74a3b0;
    background-color: #709CA8;
}

.btn-gradient.blue {
    background: rgb(24, 71, 119);
    background: -webkit-linear-gradient(to right, #27d7ff, #4176fc);
    background: linear-gradient(to right, #27d7ff, #4176fc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6698cb', endColorstr='#5c8ab8', GradientType=0);
}

/*운동 체크박스*/
.collapse {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.collapse-body {
    width: 96%;
    position: center;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
}

.checkBox-sport {
    box-shadow: 0px 5px 5px rgba(101, 130, 138, 0.71),
    0 5px 5px rgba(0, 0, 0, 0.22);
    color: rgba(0, 30, 30, 0.76);
    font-size: 1.1em;
}

/*체크박스 사이즈 조절*/
input[type=checkbox] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    margin-right: 4px;
    padding: 10px;
}


.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    transition: 0.25s;
}

/*운동체크박스 체크 후 조회 버튼*/
.w-btn-indigo {
    background-color: rgba(216, 239, 250, 0.71);
    color: #1e6b7b;
}

/*MySport 버튼*/
.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-gra1 {
    background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
    color: white;
}

.w-btn-gra-anim {
    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;
}

@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient2 {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

/*크루 모집글 박스*/
.crewBoxParent {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 1%;
    overflow: auto;
}

.crewBox {
    background-color: rgba(248, 253, 253, 0.98);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(101, 130, 138, 0.71),
    0 5px 5px rgba(0, 0, 0, 0.22);
    position: center;
    overflow: auto;
    width: 31.3%;
    border: rgba(63, 122, 254, 0.7);
    padding: 0.7%;
    margin: 1%;
}

.participation {
    color: black;
}

/*크루 사진*/
.img-thumbnail {
    width: 100%;
    height: 225px;
    border-radius: 20px;
    margin-bottom: 7px;
}